<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Bookmarker</title>

    <!--

    Copyright (C) 2012 JAMES STAR AND PUFF STREAM.
    Permission is granted to copy, distribute and/or modify this document
    under the terms of the GNU Free Documentation License, Version 1.3
    or any later version published by the Free Software Foundation;
    with no Invariant Sections, no Front-Cover Texts, and no Back-Cover Texts.

    -->

    <!-- Included CSS Files (Uncompressed) -->
    <!--
    <link rel="stylesheet" href="stylesheets/foundation.css">
    -->

    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="stylesheets/foundation.min.css">
    <link rel="stylesheet" href="stylesheets/app.css">
    <link rel="stylesheet" href="stylesheets/styles.css">

    <script src="javascripts/modernizr.foundation.js"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <div class="row" id="bookapp">
        <div class="nine columns centered"> <!-- Use twelve columns, works well for ipad users -->
            <div class="interface">
                <h1>Books I am reading</h1>
                <div class="row">
                    <div class="eight columns"><input id="new-book" type="text" placeholder="Book title" /></div>
                    <div class="two columns"><input id="new-page" type="text" placeholder="no." /></div>
                        <div class="two columns text-right"><a id="add-button" class="radius button stretch" href="#">Add</a></div>
                </div>
                <!-- View mode of books added -->
                <div class="row">

                    <div id="main" class="columns twelve">
                        <div id="book-list">
                        </div>
                    </div>

                </div>
            </div>
            <div class="text-right footer">
                <div class="row right">
                    <div class="columns six text-right">
                        <a href="http://www.puffstream.com" target="_blank"><img src="images/logo_name.png" /></a>
                    </div>
                    <div class="columns six text-right footerpadding">
                        Bookmarker beta 1.1
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/json2.js"></script>
    <script src="lib/jquery-1.7.1.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/backbone-localstorage.js"></script>
    <script src="book.js"></script>

    <script type="text/template" id="item-template">

        <div class="view booklistpadding">
            <div class="row">
                <div class="six columns largefont">
                    <span id="title"><%- title %></span>
                    <input class="edit" type="text" value="<%- title %>" />
                </div>
                <div class="two columns largefont">
                    <span id="page"><%- page %></span>
                    <input class="edit-page" type="text" value="<%- page %>" />
                </div>

                <div class="four columns">
                    <ul class="button-group radius right">
                        <li><a href="#" class="button radius small edit-button">Edit</a></li>
                        <li><a href="#" class="button radius small destroy">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </script>
  
    <!-- Included JS Files (Compressed)
    <script src="javascripts/jquery.js"></script> --> <!-- Remove foundation jquery and use bookmarker jquery lib -->
    <script src="javascripts/foundation.min.js"></script>

    <!-- Initialize JS Plugins -->
    <script src="javascripts/app.js"></script>
  
</body>
</html>
