body {
    background-color:#c8e6ed;
    background-image:url(../images/background.png);
    background-position:top left;
    background-repeat:no-repeat;
}

h1 {
    font-size:25px;
}

.interface {
    background-color:white;
    margin-top:5px;
    padding:10px 20px 10px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.stretch {
    width:100%;
}

.largefont {
    font-size:15px;
}

.booklistpadding {
     padding:10px 0px 0px 0px;
}

.booklistpadding div div {
    padding:5px 15px 5px 15px;
}

#book-list .edit {
      display: none;
}

#book-list .edit-page {
      display: none;
}

#book-list .editing .edit {
      display: inline;
      width: 320px;
      padding: 13px 15px 14px 20px;
      margin: 0;
  }

#book-list .editing .edit-page {
    display: inline;
    width: 40px;
    padding: 13px 15px 14px 20px;
    margin: 0;
}

.footer {
    padding-top:5px;
    padding-right:5px;
}

.footerpadding {
    padding-top:4px;
}

.footer div div {
    font-size:11px;
    color:white;
}